@font-face {
	font-family: "Matrix";
	font-weight: 500;
	src: url("../assets/matrix_code_nfi.otf");
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;
	pointer-events: none;
	font-family: 'Matrix', 'Monospace';
}

html, body {
	width: 100vw;
	height: 100%;
	height: -webkit-fill-available;

	background: linear-gradient(#000, #001c00);
	background: -webkit-linear-gradient(#000, #001c00);
	background: -moz-linear-gradient(#000, #001c00);
	background: -o-linear-gradient(#000, #001c00);
	background: -ms-linear-gradient(#000, #001c00);

	overflow: hidden;
}

canvas {
	/* -webkit-transform3d: translate(0, 0, 0);
	-moz-transform3d: translate(0, 0, 0);
	transform3d: translate(0, 0, 0);
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;*/
}